.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  transition:  linear .5s;
}

.profile__avatar::before {
  background-image: url(../../../image/edit-avatar-button.svg);
}

.profile__avatar:hover {
  opacity: .7;
  background: url(../../../image/Vector.jpg);
}
