.profile-info {
  min-width: 336px;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  align-self: center;
  margin-left: 30px;
}

@media screen and (max-width: 700px) and (min-width: 320px) {
  .profile-info {
    min-width: 282px;
    max-width: 282px;
    margin-left: 0;
    margin-top: 26px;
    margin-bottom: 36px;
    align-items: baseline;
    justify-content: end;
  }
}
