.profile-info__name {
  min-width: 294px;
  font-family: 'Inter', 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #fff;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
}

@media screen and (max-width: 700px) and (min-width: 320px) {
  .profile-info__name {
  min-width: 189px;
  max-width: 189px;
  font-size: 27px;
  line-height: 33px;
  text-align: center;
  margin-bottom: 14px;
  white-space: pre-wrap;
  }
}
