.element__button-like {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  width: 30px;
  height: 20px;
  padding: 0;
  margin: 0;
  align-self: center;
  background-image: url(../../../image/like.png);
}
.element__button-like:hover {
  cursor: pointer;
  opacity: .5;
}
